/* carousel css */
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: unset !important;
}
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  bottom: 8%;
  z-index: 1;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  width: auto;
  top: auto;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 50.1px;
  width: 50.1px;
  min-height: 50px;
  flex-shrink: 0;
}
.carousel-control-next {
  right: 44%;
}
.carousel-control-next-icon {
  background-image: url(/assets/images/vector-1.svg);
}
.carousel-control-prev {
  left: 44%;
}
.carousel-control-prev-icon {
  background-image: url(/assets/images/vector-1.svg);
  transform: rotate(180deg);
}
.visually-hidden {
  display: none;
}

.alice-carousel__dots-item.__active {
  background-color: #d9544d !important; /* Set the background color to yellow */
  box-shadow: 0 0 5px 2px #d9544d; /* Add a subtle shadow */
}
