
  /* Header-1 */
  .header-one {
    width: 100%;
    /* float: left; */
  }
  .main-header {
    background: none;
  }
  
  .main-header {
    padding: 15px 0;
    position: relative;
    /* box-shadow: 0px 9px 37.2px 2.8px rgba(128, 123, 173, 0.15);*/
  }
  .navbar-wrap {
    display: flex;
    flex-grow: 1;
  }
  
  .navbar-wrap ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15px;
  }
  
  .navbar-wrap ul li {
    display: block;
    position: relative;
  }
  
  .navbar-wrap ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #131025;
    padding: 15px 10px;
    display: block;
    line-height: 1;
    position: relative;
    z-index: 1;
  }
  
  .navbar-wrap > ul > li.menu-item-has-children > a {
    padding: 35px 35px 35px 22px;
  }
  
  .navbar-wrap > ul > li.menu-item-has-children > a::before {
    content: "\f0d7";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "FontAwesome";
    font-weight: 700;
    color: #3b3663;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .navbar-wrap > ul > li.active > a,
  .navbar-wrap > ul > li:hover > a,
  .navbar-wrap ul li .submenu li:hover > a,
  .navbar-wrap ul li .submenu li.active > a,
  .mobile-menu .navigation li.active > a {
    color:  var(--color-indianred);
  }
  
  .navbar-wrap > ul > li.menu-item-has-children.active > a::before,
  .navbar-wrap > ul > li.menu-item-has-children:hover > a::before {
    color: #6f54f3;
  }
  
  .mobile-menu .navigation li.menu-item-has-children .dropdown-btn.open {
    background: #6f54f3;
    color: #fff;
  }
  
  .main-menu .navigation li.menu-item-has-children .dropdown-btn {
    display: none;
  }

  .navbar-wrap ul li .submenu {
    position: absolute;
    z-index: 9;
    background-color: #fff;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
    display: block;
    left: 0;
    opacity: 0;
    padding: 18px 0;
    right: 0;
    top: 100%;
    visibility: hidden;
    min-width: 230px;
    border: 1px solid #f5f5f5;
    background: #ffffff;
    box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
    margin: 0;
    transform: scale(1, 0);
    transform-origin: 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-wrap ul li .submenu li {
    margin-left: 0;
    text-align: left;
    display: block;
  }
  
  .navbar-wrap ul li .submenu li a {
    padding: 0 10px 0 25px;
    line-height: 40px;
    font-weight: 500;
    font-size: 14px;
    color: #131025;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-wrap ul li:hover > .submenu {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  
  .sticky-menu,
  .header-style-three .transparent-header.sticky-menu {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    background: #fff;
    -webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    border-radius: 0;
  }
  
  .main-header.sticky-menu {
    padding: 10px 0;
    background: -webkit-linear-gradient(110deg, #ffffff 13%,  var(--color-indianred) 13%);
    background: -o-linear-gradient(110deg, #ffffff 13%,  var(--color-indianred) 13%);
    background: -moz-linear-gradient(110deg, #ffffff 13%,  var(--color-indianred) 13%);
    background: linear-gradient(110deg, #ffffff 13%,  var(--color-indianred) 13%);
  }
  .main-header.sticky-menu .navbar-wrap ul li a {
    color: #fff;
  }
  
  .main-header.sticky-menu .header-action .header-btn .btn {
    background: #fff !important;
    color:  var(--color-indianred) !important;
  }
  .main-header.sticky-menu .header-action .header-btn .btn:hover {
    color: #fff !important;
    background: linear-gradient(
      97.65deg,
       var(--color-indianred) 0.33%,
      #007299 93.35%
    ) !important;
  }
  
  .main-header.sticky-menu .logo img {
    width: 75%;
  }
  
  .nav-logo img {
    width: 80px;
  }
  
  .mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    border-radius: 0px;
    transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
  }
  
  .mobile-menu .navbar-collapse {
    display: block !important;
  }
  
  .mobile-menu .nav-logo {
    position: relative;
    padding: 10px 30px;
    text-align: left;
  }
  
  .mobile-menu .navigation li.current > a:before {
    height: 100%;
  }
  
  .menu-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    opacity: 0;
    visibility: hidden;
    background: #131025;
  }
  
  .mobile-menu .menu-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    padding: 0px 0px;
    z-index: 5;
    box-shadow: -9px 0 14px 0px rgb(0 0 0 / 6%);
  }
  
  .mobile-menu .close-btn {
    position: absolute;
    right: 25px;
    top: 25px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    color: #312620;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
  }
  
  .mobile-menu .navigation {
    position: relative;
    display: block;
    width: 100%;
    float: none;
  }
  
  .mobile-menu .navigation li {
    position: relative;
    display: block;
    border-top: 1px solid rgb(0 0 0 / 10%);
  }
  
  .mobile-menu .navigation:last-child {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
  }
  
  .mobile-menu .navigation li > ul > li:first-child {
    border-top: 1px solid rgb(0 0 0 / 10%);
  }
  
  .mobile-menu .navigation li > a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    color: #312620;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: none;
  }
  
  .mobile-menu .navigation li ul li > a {
    font-size: 15px;
    margin-left: 20px;
    text-transform: capitalize;
  }
  
  .mobile-menu .navigation li ul li ul li a {
    margin-left: 40px;
  }
  
  .mobile-menu .navigation li ul li ul li ul li a {
    margin-left: 60px;
  }
  
  .mobile-menu .navigation li > a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .mobile-menu .navigation li.menu-item-has-children .dropdown-btn {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: #312620;
    background: #efefef;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 5;
  }
  
  .mobile-menu .navigation li.menu-item-has-children .dropdown-btn.open {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .mobile-menu .navigation li > ul,
  .mobile-menu .navigation li > ul > li > ul {
    display: none;
  }
  
  .mobile-menu .social-links {
    position: relative;
    text-align: center;
    padding: 30px 25px;
  }
  
  .mobile-menu .social-links li {
    position: relative;
    display: inline-block;
    margin: 0px 10px 10px;
  }
  
  .mobile-menu .social-links li a {
    position: relative;
    line-height: 32px;
    font-size: 16px;
    color: #312620;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .menu-area .mobile-nav-toggler {
    position: relative;
    float: right;
    font-size: 30px;
    cursor: pointer;
    line-height: 1;
    color: #131025;
    display: none;
    margin-top: 5px;
  }
  .main-header.sticky-menu .mobile-nav-toggler {
    color: #fff !important;
  }
  /* Header-End */
  /* Header-Two-Start */
  .cont-con a {
    color: #494949;
  }
  /* Header-Two-End */

  /* Header-four-Start */
  .nav-menu-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  
  .nav-menu-backdrop {
    opacity: 0.8;
    visibility: visible;
    z-index: 25;
  }
  